<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/estilos.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="/decodehtml.js"></script>
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid" style="width: 80%;">
      <a class="navbar-brand" href="/">SIGAA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse show" id="navbarColor01" style="padding-left: 2%;">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
            <!-- <a class="nav-link" href="#"><%= us %></a> -->
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= us %></a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="/cerrar">Cerrar Sesion</a>
                </div>
            </li>         
        </ul>
      </div>
    </div>
</nav>
    <h1 class="text-center p-5">Materias</h1>
    
    <div style="display: flex; width: 90%; padding-left: 15%; flex-flow: wrap;" class="text-center" id="tablero">

    </div>



    <script>
      const res = JSON.parse(decodeEntities('<%= res %>').replace(new RegExp('\r?\n','g'), ' '))
      console.log(res)
      const parent = document.getElementById("tablero");
      console.log(res.length)
      for (var i = 0; i <=res.length-1; i++){
          console.log(i)
          const divp = document.createElement("div");
          const divhp = document.createElement("div");
          const divhhp = document.createElement("div");
          const nombre = document.createElement("h4");
          const enlace = document.createElement("a");
          const btn = document.createElement("button");
          divp.className = "card border-danger mb-3 iniciar materias";
          divhp.className = "card-header";
          divhhp.className = "card-body";
          nombre.className = "card-title";
          nombre.textContent = `${res[i].nombre_materia}`;
          btn.className = "btn btn-outline-success";
          btn.textContent = "Notas";
          btn.type = "button";
          enlace.href =`/notas/${res[i].nombre_materia}`;
          divhp.appendChild(nombre);
          enlace.appendChild(btn);
          divhhp.appendChild(enlace);
          divp.appendChild(divhp);
          divp.appendChild(divhhp);
          parent.appendChild(divp);
      }


      const divp = document.createElement("div");
      const divhp = document.createElement("div");
      const formp = document.createElement("form");
      const nmat = document.createElement("input");
      const btn = document.createElement("button");
      const btns = document.createElement("button");
      divp.className = "card border-danger mb-3 iniciar";
      divhp.className = "card-body";
      formp.method = "post";
      formp.action= "agregarmateria";
      formp.style = "display: none;";
      formp.id = "forms"
      btn.className = "btn btn-outline-success";
      btn.textContent = "confirmar";
      btn.type = "submit";
      divp.style = "max-width: 10rem; min-width: 5rem; max-height: 20rem; margin: 1%;";
      btns.className = "btn btn-outline-success";
      btns.textContent = "+";
      btns.type = "button";
      btns.setAttribute("onclick", "agremat()");
      btns.id = "btns";
      nmat.type="text";
      nmat.className="form-control";
      nmat.placeholder="Materia";
      nmat.id="nmateria";
      nmat.name="nmateria";
      formp.appendChild(nmat);
      formp.appendChild(btn);
      divhp.appendChild(formp);
      divhp.appendChild(btns);
      divp.appendChild(divhp);
      parent.appendChild(divp);


  </script>

  <script>
    function agremat(){
      console.log("agre")
      const form = document.getElementById("forms");
      const btn = document.getElementById("btns");

      form.style = "";
      btn.style = "display: none;";


    }
  </script>


    <% if( typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: `<%= alertTitle %>`,
                text: `<%= alertMessage %>`,
                icon: `<%= alertIcon %>`,
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            })
        </script>
    <% } %>
</body>
</html>